body {
  background-image: url('./images/image.jpeg')
}

form {
  margin: 20px auto;
  width: 500px;
  background-color: hotpink;
  padding: 10px;
  outline: 1px solid gray;
}

form > * {
  clear: left;
}

.list-group {
  width: 300px;
  margin: 20px auto;

}

.list-group > * {
  padding: 10px;
  outline: 1px solid gray;
  background-color: white;
  list-style-type: none;
}